<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
       
        
        <template v-if ="status==' '"> 
           {{random()}}
        <button v-for ="box,index in boxs" @click="check(box.id)" >{{box.id}}</button><br>     
           </template>
        
           
      
        <template v-if ="status=='less'"> 
            {{ran}}
            <button v-for ="box,index in boxs" @click="check(box.id)" >{{box.id}}</button><br>     
            น้อยเกินไป
        </template>
       
        <template v-if ="status=='more'"> 
           {{ran}}
            <button v-for ="box,index in boxs" @click="check(box.id)" >{{box.id}}</button><br>     
            มากเกินไป
        </template>

        <template v-if ="status=='yes'"> 
           
            {{random()}}
            <button v-for ="box,index in boxs" @click="check(box.id)" >{{box.id}}</button><br>
       ถูกต้องงง
        </template>
  

    </div>










    <script>
        var app = new Vue({
            //element
            el: "#app",
            data: {
                boxs:[{id:0},{id:1},{id:2},{id:3},{id:4},{id:5},{id:6},{id:7},{id:8},{id:9}],
                ran : 0,
                status :" "
              
             

            },
            methods: {
                check:function(number){
                  if(number<this.ran){
                  this.status = 'less'
                  }
                  if(number>this.ran){
                  this.status = 'more'
                  }
                  if(number==this.ran){
                  this.status = 'yes'
                
                  }

                },

                random: function () {
                    random  = Math.floor(Math.random() * 10);
                  this.ran = random ;
                    return this.ran
         


            }
              
            },

            computed: {
  
               
                
            }

        });
    </script>

</body>

</html>